In [16]:
import pandas as pd
import preprocessor as p
from transformers import BertTokenizer, TFBertForSequenceClassification
from transformers import InputExample, InputFeatures
import tensorflow as tf

model = TFBertForSequenceClassification.from_pretrained("bert-base-uncased")
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")

Downloading: 100%|██████████| 570/570 [00:00<00:00, 572kB/s]
Downloading: 100%|██████████| 511M/511M [00:14<00:00, 37.0MB/s]
All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
Downloading: 100%|██████████| 28.0/28.0 [00:00<00:00, 9.51kB/s]
Downloading: 100%|██████████| 226k/226k [00:00<00:00, 409kB/s]
Downloading: 100%|██████████| 455k/455k [00:00<00:00, 496kB/s]

In [17]:
df = pd.read_csv(r'C:\Users\avbalaji2\Desktop\Final_Year_Project\backend\training data\CNBC_tweets.csv')

In [18]:
df.head()

,date,identifier,tweets
0,2022-01-28 07:40:46+00:00,c,Hybrid work is here to stay. Activating your h...
1,2022-01-28 07:10:09+00:00,c,European markets set for mixed open to end wil...
2,2022-01-28 07:03:23+00:00,c,Formula One star Lewis Hamilton invests in rap...
3,2022-01-28 07:02:00+00:00,c,It’s been several years since Tesla acquired S...
4,2022-01-28 06:34:05+00:00,c,"Out of 118 countries, these are the top 5 for ..."

'European markets set for mixed open to end wild week of volatility https://t.co/GwQurQJuVu'

In [19]:
pred_sentences = p.clean(df.iloc[1].tweets)
tf_batch = tokenizer(pred_sentences, max_length=128, padding=True, truncation=True, return_tensors='tf')
tf_outputs = model(tf_batch)
tf_predictions = tf.nn.softmax(tf_outputs[0], axis=-1)
labels = ['Negative','Positive']
label = tf.argmax(tf_predictions, axis=1)
label = label.numpy()